@use "sass:map";
//deg-sitio

$colores-deg-sitio:(
  deg-sitio: linear-gradient(to top, #21D4FD 0%, #B721FF 100%) ,
  alter-deg-sitio: #6b7afe,
  deg-sitio-texto-color: white ,
  alter-texto-color: white ,
) !default;
/*
Para un deg-sitio, sólo es necesario especificar dos clases:
.deg-sitio
.deg-sitio-fondo o .deg-texto, según lo que se quiera.
*/

//deg-sitio predeterminado en variables propias, sección deg-sitio.

.math-display{
  display: grid !important;
}

@mixin deg($deg){
    background-image: $deg;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.deg-sitio {
    @include deg(map-get($colores-deg-sitio, deg-sitio));
}

//deg-sitio a fondo o texto
@mixin deg-texto{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
}

@mixin deg-fondo($color){
  -webkit-text-fill-color: $color;
  -webkit-background-clip: padding-box;
}

.deg-texto{
  @include deg-texto();
}

.deg-sitio-fondo{
  @include deg-fondo(map-get($colores-deg-sitio, deg-sitio-texto-color));
}

//Coloreado alternativo sin deg-sitio
@mixin alter-texto{
  color: map-get($colores-deg-sitio, alter-deg-sitio);
  background-color: unset;
  background-image: unset;
  background-attachment: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

@mixin alter-fondo{
  background-color: map-get($colores-deg-sitio, alter-deg-sitio);
  color: map-get($colores-deg-sitio, alter-texto-color);
  background-image: unset;
  background-attachment: unset;
  background-clip: unset;
  -webkit-text-fill-color: unset;
}
/*
Ajuste para deg-sitios según tema
*/
@media only screen and (min-width: map-get($media-queries,md)){
  a{
    background-size: 100% 100%;
  }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
    a{
        //Los símbolos junto a los encabezados (svg) son el contenido
        -webkit-background-clip: content-box;
        //Se coloca mix blend mode en svg para que cambie a deg-sitio.
        svg{
            color: black;
            background: white;
            mix-blend-mode: screen;
        }
    }
  }
  
  //Se utiliza el display inline flex para que no cambie nada excepto el deg-sitio, y además muestre este correctamente
  //Esto se hace en general con todos los elementos en una línea
  .search-result-highlight{
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-texto;
    display: inline-flex;
  }
  
  //Todos los links pasan a tener deg-sitio tipo texto
  a:hover{
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-texto;
  }
  
  //En search result es importante que no se apliquen deg-sitios y que al colocar el mouse no cambie display a inline flex
  a.search-result{
    color: bg-grey-dk-000;
    -webkit-text-fill-color: unset !important;
    background-image: none !important;
    &:hover{
      display:block;
    }
  }

  //Inline bock mantiene en su lugar el ícono
  a.nav-list-expander svg{
    display: inline-block !important;
  }
  
  a:not(.btn){
    //Se hacer que el texto tenga la $background-image de fondo.
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-texto;
    $link-color:black;
    //cuando el mouse se posiciona.
  }
  
  a:not([class]){
    //Con esto se aplica el deg-sitio correctamente a los links sin clase.
    display: inline-flex;
  }
  
  //links barra de navegación
  .site-title:hover, .site-button:hover , .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-fondo(map-get($colores-deg-sitio, deg-sitio-texto-color));
    transition: all ease;
    span.deg-texto{
      -webkit-text-fill-color: white;
    }
  }
  
  //Estos son los links junto a la barra de búsqueda. Necesita cambiar el texto a blanco.
  .site-button:hover{
    svg{
      color:white;
    }
  }

  //Esto es el botón inicial con pseudoclase before. Sirve para agregar el texto de POLYNOMM
  .site-title.lh-tight:hover:before, .site-title.lh-tight:active:before {
    content:"POLYNOMM";
  }
  .site-title.lh-tight:hover, .site-title.lh-tight:active{
    span{
      mjx-container{
        width:0px;
      }
    }
  }
  
  //Barra de navegación
  .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    color: map-get($colores-deg-sitio, deg-sitio-texto-color);
  }

  //Esto es sólo si la sección del sitio contie
  a.nav-list-link{
    mjx-container{
      position: static !important;
    }
    span{
      mjx-container{
        position: static !important;
        display: inline-flex !important;
      }
    }
  }
  
  .deg-sitio.deg-texto>mjx-container{
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-texto;
  }
  span.deg-sitio.deg-texto{
    display: inline-flex;
    &::selection{
      -webkit-text-fill-color: white;
    }
  }
}

/*
 Tema sin deg-sitios impresión y móvil
*/ 

@media not screen and (min-width: map-get($media-queries,md)){
  a{
    @include alter-texto();
  }
  h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
    a{
        //Los símbolos junto a los encabezados (svg) son el contenido
        -webkit-background-clip: none;
        background-clip: none;
        svg{
            @include alter-texto();
            mix-blend-mode: unset;
        }
    }
  }
  
  .search-result-highlight{
    @include alter-texto();
    display: inline-flex;
  }
  
  a:hover{
    @include alter-fondo();
  }
  
  a.search-result{
    color: bg-grey-dk-000;
    background-image: unset;
  }
  
  a:not(.btn){
    //Se hacer que el texto tenga la $background-image de fondo.

    @include alter-texto();
    $link-color:black;
    //cuando el mouse se posiciona.
  }
  
  a:not([class]){
    //Con esto se aplica el deg-sitio correctamente a los links sin clase.
    display: inline-flex;
  }
  
  .site-title:hover, .site-button:hover , .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
    @include alter-fondo();
    transition: all ease;
  }
  
  .site-button:hover {
    svg{
      color:white;
    }
  }
  .site-title.lh-tight:hover:before, .site-title.lh-tight:active:before {
    content:"POLYNOMM";
  }

  .site-title.lh-tight:hover, .site-title.lh-tight:active{
    span{
      mjx-container{
        width:0px;
      }
    }
  }
  
  .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
    @include alter-texto();
  }

  //Esto es duplicado de deg-sitio.
  a.nav-list-link{
    mjx-container{
      position: static !important;
    }
  }
  
  //Esto cambia los colores para móvil e impresión de todas las clases que no sean las anteriores (links del sitio etc)
  .deg-sitio{
    @include alter-fondo()
  }
  
  .deg-texto{
    @include alter-texto();
  }
  .deg-texto>mjx-container{
    @include alter-texto();
  }
}

/*
deg-sitios secundarios para coloreado...
*/
@media only screen and (min-width: map-get($media-queries,md)){
  .deg-rojo{
  }
}

@media not screen and (min-width: map-get($media-queries,md)){
}