/*
Para un degradado, sólo es necesario especificar dos clases:
.degradado
.degradado-fondo o .degradado-texto, según lo que se quiera.
*/

//Degradado predeterminado
$degradado-sitio: linear-gradient(to top, #21D4FD 0%, #B721FF 100%) !default; 
$degradado-sitio-texto-color: white !default;

@mixin degradado($degradado){
    background-image: $degradado;
    background-attachment: fixed;
    background-size: 100% 100%;
}
//Colores degradados
.degradado {
    @include degradado($degradado-sitio);
    $degradado-sitio-texto-color:white;
  }
  .teoriaDeNumeros {
    @include degradado(linear-gradient(19deg, #21D4FD 0%, #B721FF 100%));
  }

//Degradado a fondo o texto
.degradado-texto{
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:text;
}
.degradado-fondo{
  -webkit-text-fill-color: $degradado-sitio-texto-color;
  -webkit-background-clip: padding-box;
}

/*
Degradados del tema.
*/
a{
  background-size: 100% 100%;
}
h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
  a{
      //Los símbolos junto a los encabezados (svg) son el contenido
      -webkit-background-clip: content-box;
      svg{
          color: black;
          background: white;
          mix-blend-mode: screen;
      }
  }
}

.search-result-highlight{
  @extend .degradado;
  @extend .degradado-texto;
  display: inline-flex;
}

a:hover{
  @extend .degradado;
  @extend .degradado-texto;
}

a.search-result{
  @extend .bg-grey-dk-000;
  background-image: unset;
}

a:not(.btn){
  //Se hacer que el texto tenga la $background-image de fondo.
  @extend .degradado;
  @extend .degradado-texto;
  $link-color:black;
  //cuando el mouse se posiciona.
}

a:not([class]){
  //Con esto se aplica el degradado correctamente a los links sin clase.
  display: inline-flex;
}

.site-title:hover, .site-button:hover , .nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active{
  @extend .degradado;
  @extend .degradado-fondo;
  transition: all ease;
}

.site-title.lh-tight:hover:before, .site-title.lh-tight:active:before {
  content:"POLYNOMM"; 
  color:WHITE; 
  padding-top: .5rem;
  padding-bottom: .5rem;}

.nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link {
  color: $degradado-sitio-texto-color; 
}

.degradado-texto>mjx-container{
  @extend .degradado;
  @extend .degradado-texto;
}