
  body{
      text-align: justify;
  }
  h1, h2, h3, h4, h5, h6{
      font-family: 'Quicksand',sans-serif;
    
  }
  
  .search-result-highlight{
    font-family: 'Quicksand',sans-serif;
  }
  
  .nav-list .nav-list-item .nav-list-link.active{
    font-weight: 700;
  }

  .nav-list .nav-list-item .nav-list-link{
    font-weight: 600;
  }

  .main-content a{
      font-weight: 500;
  }

  .site-button{
    font-weight: 700;
  }