$body-font-family:'Raleway',sans-serif;
$mono-font-family:'Ubuntu Mono', monospace;
  .qs{
    font-family: 'Quicksand', sans-serif;
  }

  .rw{
    font-family: 'Raleway', sans-serif;
  }

  .um{
    font-family: 'Ubuntu Mono', monospace;
  }

  body{
      text-align: justify;
  }
  h1, h2, h3, h4, h5, h6{
      font-family: 'Quicksand',sans-serif;
      text-align: left;    
  }
  
  .search-result-highlight{
    font-family: 'Quicksand',sans-serif;
  }
  
  .nav-list .nav-list-item .nav-list-link.active{
    font-weight: 700;
  }

  .nav-list .nav-list-item .nav-list-link{
    font-weight: 600;
  }

  .main-content a{
      font-weight: 500;
  }

  .site-button{
    font-weight: 700;
  }

  .gwt-label ,.GeoGebraFrame,.GeoGebraFrame *, .GeoGebraFrame .GeoGebraPopup, .GeoGebraFrame .DialogBox, .GeoGebraFrame .gwt-PopupPanel, .GeoGebraFrame .gwt-SuggestBoxPopup, .GeoGebraFrame .ToolTip{
    font-family: 'Raleway', sans-serif !important;
    font-weight: 700 !important;
  }