@use "sass:map";
$colores-deg-sitio: (
  deg-sitio: linear-gradient( to top,  rgba(21,21,212,1) 0.9%, rgb(0, 197, 223) 70% ),
  alter-sitio:  #11c0e0,
  deg-sitio-texto-color: white ,
  alter-sitio-texto-color: white ,
);
$link-color: $grey-dk-300;
$body-font-family:'Raleway',sans-serif;
$mono-font-family:'Ubuntu Mono', monospace;

/*
linear-gradient(90deg, rgba(0,198,255,1) 20%, rgba(255,231,0,1) 50%, rgba(255,149,0,1) 80%)
Naranja aprobado
background-color: #ba2d0b;
background-image: linear-gradient(319deg, #ba2d0b 0%, #fe7f2d 37%, #ffbf46 100%);

Otro rojo con amarillo. amarillo ecc100 parece ser buena opción
background-color: #faff00;
background-image: linear-gradient(319deg, #faff00 0%, #ff1000 37%, #ff6a00 100%);

creo que negro no funciona, en ningún aspecto, tal vez en escala de grises sí
background-color: #f06543;
background-image: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);

Aprobado rosa morado
deg-sitio: linear-gradient(to top, #6617cb 0%, #ff00a2 74%),
  alter-sitio: #6617cb,

Aprobado verde con amarillo y azul
deg-sitio: linear-gradient(to top, #118ab2 0%, #06d6a0 60%, #ffb300 100%),
  alter-sitio:  #07caa2,

Aprobado azul
deg-sitio: linear-gradient( to top,  rgba(21,21,212,1) 0.9%, rgb(0, 197, 223) 70% ),
  alter-sitio:  rgb(0, 197, 223), Azul más claro de lo que debe
*/

