$colores-deg-sitio:(
  deg-sitio: linear-gradient(to top, #21D4FD 0%, #B721FF 100%) ,
  alter-sitio: #6b7afe,
  deg-sitio-texto-color: white ,
  alter-sitio-texto-color: white ,
);

$link-color: $grey-dk-300;
$body-font-family:'Raleway',sans-serif;
$mono-font-family:'Ubuntu Mono', monospace;