/*
deg-sitios secundarios para coloreado...
*/
$colores-deg-especial:(
  deg-especial: linear-gradient(to top,#ff0018 0%, #ff0417 6.25%, #ff310e 12.5%, #ff5d06 18.75%, #ff7a01 25%, #ff8701 31.25%,
   #ffae00 37.5%, #d9c507 43.75%, #79c718 50%, #01c92d 56.25%, #01be69 62.5%, #01b3aa 68.75%, #0ba1df 75%, #3f77e6 81.25%, #724cec 87.5%, #8a39ef 93.75%, #8a39ef 100%) ,
  alter-especial: #8a39ef,
  deg-especial-texto-color: white,
  alter-especial-texto-color: white ,
);
$colores-deg-algebra:(
  deg-algebra: linear-gradient(to top, #aaaaaa 0%, #aaaaaa 30%, #888888 70%, #888888 100%) ,
  alter-algebra:  #888888,
  deg-algebra-texto-color: white ,
  alter-algebra-texto-color: white ,
);
$colores-deg-casillas:(
  deg-casillas:  linear-gradient(to top, #b9c9f2 0%, #b9c9f2 30%, #7aa0ff 70%, #7aa0ff 100%) ,
  alter-casillas: #7aa0ff,
  deg-casillas-texto-color: white ,
  alter-casillas-texto-color: white ,
);
$colores-deg-combinatoria:(
  deg-combinatoria:  linear-gradient(to top, #ff5c5c 0%, #ff5c5c 30%, #ff1500 70%, #ff1500 100%) ,
  alter-combinatoria: rgba(255,0,0,1),
  deg-combinatoria-texto-color: white ,
  alter-combinatoria-texto-color: white ,
);
$colores-deg-desigualdades:(
  deg-desigualdades: linear-gradient(to top,rgb(255, 143, 178) 0%, rgba(255,0,159,1) 80%) ,
  alter-desigualdades: rgba(255,0,159,1),
  deg-desigualdades-texto-color: white ,
  alter-desigualdades-texto-color: white ,
);
$colores-deg-geometria:(
  deg-geometria: linear-gradient(to top, #00e00f 0%, #00e00f 30%, #02b328 70%, #02b328 100%) ,
  alter-geometria: #02b328,
  deg-geometria-texto-color: white ,
  alter-geometria-texto-color: white ,
);

$colores-deg-numeros:(
  deg-numeros: linear-gradient(to top, #6666ff 0%, #6666ff 30%, #0000ff 70%, #0000ff 100%) ,
  alter-numeros:  #0000ff,
  deg-numeros-texto-color: white ,
  alter-numeros-texto-color: white ,
);
.deg-algebra-texto, .deg-casillas-texto,.deg-combinatoria-texto,.deg-desigualdades-texto,.deg-especial-texto,.deg-geometria-texto, .deg-numeros-texto{
  display: inline-flex;
}
.deg-especial{
    @include deg(map-get($colores-deg-especial, deg-especial));
  }
  
  .deg-especial-texto{
  @include deg-texto();
  }
  
  .deg-especial-fondo{
  @include deg-fondo(map-get($colores-deg-especial, deg-especial-texto-color));
  }
.deg-algebra{
    @include deg(map-get($colores-deg-algebra, deg-algebra));
  }
  
  .deg-algebra-texto{
  @include deg-texto();
  }
  
  .deg-algebra-fondo{
  @include deg-fondo(map-get($colores-deg-algebra, deg-algebra-texto-color));
  }
    .deg-casillas{
        @include deg(map-get($colores-deg-casillas, deg-casillas));
      }
      
      .deg-casillas-texto{
      @include deg-texto();
      }
      
      .deg-casillas-fondo{
      @include deg-fondo(map-get($colores-deg-casillas, deg-casillas-texto-color));
      }
    
.deg-combinatoria{
    @include deg(map-get($colores-deg-combinatoria, deg-combinatoria));
  }
  
  .deg-combinatoria-texto{
  @include deg-texto();
  }
  
  .deg-combinatoria-fondo{
  @include deg-fondo(map-get($colores-deg-combinatoria, deg-combinatoria-texto-color));
  }

.deg-desigualdades{
    @include deg(map-get($colores-deg-desigualdades, deg-desigualdades));
  }
  
  .deg-desigualdades-texto{
  @include deg-texto();
  }
  
  .deg-desigualdades-fondo{
  @include deg-fondo(map-get($colores-deg-desigualdades, deg-desigualdades-texto-color));
  }
    .deg-geometria{
        @include deg(map-get($colores-deg-geometria, deg-geometria));
      }
      
      .deg-geometria-texto{
      @include deg-texto();
      }
      
      .deg-geometria-fondo{
      @include deg-fondo(map-get($colores-deg-geometria, deg-geometria-texto-color));
      }
    
    .deg-numeros{
        @include deg(map-get($colores-deg-numeros, deg-numeros));
      }
      
      .deg-numeros-texto{
      @include deg-texto();
      }
      
      .deg-numeros-fondo{
      @include deg-fondo(map-get($colores-deg-numeros, deg-numeros-texto-color));
      }
      
    
  
  @media not screen and (min-width: map-get($media-queries,md)){
    .deg-especial{
        @include alter-fondo(map-get($colores-deg-especial, alter-especial-texto-color), map-get($colores-deg-especial, alter-especial));
      }
      
      .deg-especial-texto{
        @include alter-texto(map-get($colores-deg-especial, alter-especial));
      }
      .deg-especial-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-especial, alter-especial));
      }
    
      .deg-especial.deg-especial-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-especial, alter-especial));
      }  
    .deg-algebra{
        @include alter-fondo(map-get($colores-deg-algebra, alter-algebra-texto-color), map-get($colores-deg-algebra, alter-algebra));
      }
      
      .deg-algebra-texto{
        @include alter-texto(map-get($colores-deg-algebra, alter-algebra));
      }
      .deg-algebra-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-algebra, alter-algebra));
      }
    
      .deg-algebra.deg-algebra-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-algebra, alter-algebra));
      }  
    .deg-casillas{
        @include alter-fondo(map-get($colores-deg-casillas, alter-casillas-texto-color), map-get($colores-deg-casillas, alter-casillas));
      }
      
      .deg-casillas-texto{
        @include alter-texto(map-get($colores-deg-casillas, alter-casillas));
      }
      .deg-casillas-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-casillas, alter-casillas));
      }
    
      .deg-casillas.deg-casillas-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-casillas, alter-casillas));
      }
    .deg-combinatoria{
        @include alter-fondo(map-get($colores-deg-combinatoria, alter-combinatoria-texto-color), map-get($colores-deg-combinatoria, alter-combinatoria));
      }
      
      .deg-combinatoria-texto{
        @include alter-texto(map-get($colores-deg-combinatoria, alter-combinatoria));
      }
      .deg-combinatoria-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-combinatoria, alter-combinatoria));
      }
    
      .deg-combinatoria.deg-combinatoria-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-combinatoria, alter-combinatoria));
      }
      .deg-desigualdades{
        @include alter-fondo(map-get($colores-deg-desigualdades, alter-desigualdades-texto-color), map-get($colores-deg-desigualdades, alter-desigualdades));
      }
      
      .deg-desigualdades-texto{
        @include alter-texto(map-get($colores-deg-desigualdades, alter-desigualdades));
      }
      .deg-desigualdades-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-desigualdades, alter-desigualdades));
      }
    
      .deg-desigualdades.deg-desigualdades-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-desigualdades, alter-desigualdades));
      }
      .deg-geometria{
        @include alter-fondo(map-get($colores-deg-geometria, alter-geometria-texto-color), map-get($colores-deg-geometria, alter-geometria));
      }
      
      .deg-geometria-texto{
        @include alter-texto(map-get($colores-deg-geometria, alter-geometria));
      }
      .deg-geometria-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-geometria, alter-geometria));
      }
    
      .deg-geometria.deg-geometria-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-geometria, alter-geometria));
      }  
      .deg-numeros{
        @include alter-fondo(map-get($colores-deg-numeros, alter-numeros-texto-color), map-get($colores-deg-numeros, alter-numeros));
      }
      
      .deg-numeros-texto{
        @include alter-texto(map-get($colores-deg-numeros, alter-numeros));
      }
      .deg-numeros-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-numeros, alter-numeros));
      }
    
      .deg-numeros.deg-numeros-texto>mjx-container{
        @include alter-texto(map-get($colores-deg-numeros, alter-numeros));
      }
  }