$colores-deg-sitio: (
  deg-sitio: linear-gradient(to top, #21D4FD 0%, #B721FF 100%),
  alter-sitio: #6b7afe,
  deg-sitio-texto-color: white,
  alter-sitio-texto-color: white,
) !default;
@media only screen and (min-width: map-get($media-queries,md)){
  .deg-sitio {
    @include deg(map-get($colores-deg-sitio, deg-sitio));
}

.deg-sitio-texto{
  @include deg-texto();
}

.deg-sitio-fondo{
  @include deg-fondo(map-get($colores-deg-sitio, deg-sitio-texto-color));
}

/*
Ajuste para deg-sitios según tema
*/
    a{
      background-size: 100% 100%;
      color :#27262b;
    }
    h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover{
      a{
          //Los símbolos junto a los encabezados (svg) son el contenido
          -webkit-background-clip: content-box;
          //Se coloca mix blend mode en svg para que cambie a deg-sitio.
          svg{
              color: black;
              background: white;
              mix-blend-mode: screen;
          }
      }
    }
    
    //Se utiliza el display inline flex para que no cambie nada excepto el deg-sitio, y además muestre este correctamente
    //Esto se hace en general con todos los elementos en una línea
    .search-result-highlight{
      @include deg(map-get($colores-deg-sitio, deg-sitio));
      @include deg-texto;
      display: inline-flex;
    }
    
    //Todos los links pasan a tener deg-sitio tipo texto
    a:hover{
      @include deg(map-get($colores-deg-sitio, deg-sitio));
      @include deg-texto;
    }
    
    //En search result es importante que no se apliquen deg-sitios y que al colocar el mouse no cambie display a inline flex
    a.search-result{
      color: bg-grey-dk-000;
      -webkit-text-fill-color: unset !important;
      background-image: none !important;
      &:hover{
        display:block;
      }
    }
  
    //Inline bock mantiene en su lugar el ícono
    a.nav-list-expander svg{
      display: inline-block !important;
    }
    
    a:not(.btn){
      //Se hacer que el texto tenga la $background-image de fondo.
      @include deg(map-get($colores-deg-sitio, deg-sitio));
      @include deg-texto;
      $link-color:black;
      //cuando el mouse se posiciona.
    }
    
    a:not([class]){
      //Con esto se aplica el deg-sitio correctamente a los links sin clase.
      display: inline-flex;
    }
    
    //links barra de navegación
    .site-title:hover, .site-button:hover , 
    .nav-list .nav-list-item .nav-list-link.active, 
    .nav-list .nav-list-item > .nav-list .nav-list-item .nav-list-link:hover,
     .nav-list .nav-list-item .nav-list-link:hover{
      @include deg(map-get($colores-deg-sitio, deg-sitio));
      @include deg-fondo(map-get($colores-deg-sitio, deg-sitio-texto-color));
    }
    .nav-list-link:hover, .nav-list-link.active{
      span.deg-sitio.deg-sitio-texto mjx-container{
          -webkit-text-fill-color: mag-get($colores-deg-sitio, deg-sitio-texto-color) !important;
          @include deg-fondo(map-get($colores-deg-sitio, deg-sitio-texto-color));
      }
    }
    .nav-list-link.active{
      @include deg-texto();
    }
    
    //Estos son los links junto a la barra de búsqueda. Necesita cambiar el texto a blanco.
    .site-button:hover{
      svg{
        color:white;
      }
    }
  
    //Esto es el botón inicial con pseudoclase before. Sirve para agregar el texto de POLYNOMM
    .site-title.lh-tight:hover:before, .site-title.lh-tight:active:before {
      content:"POLYNOMM";
      position: absolute;
    }
    .site-title.lh-tight:hover, .site-title.lh-tight:active{
      span{
        mjx-container{
          visibility: hidden;
        }
      }
    }
  
    //Esto es sólo si la sección del sitio contie
    a.nav-list-link{
      mjx-container{
        position: static !important;
      }
      span{
        mjx-container{
          position: static !important;
          display: inline-flex !important;
        }
      }
    }
    
    .deg-sitio.deg-sitio-texto>mjx-container{
      @include deg(map-get($colores-deg-sitio, deg-sitio));
      @include deg-texto;
    }
    .deg-sitio-texto{
      display: inline-flex;
      &::selection{
        -webkit-text-fill-color: white;
      }
    }
    /* Let's get this party started */
  ::-webkit-scrollbar {
    width: 8px;
    position:static;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    position:fixed;
    background-color: $grey-dk-000;
  }
  
  //Geogebra
  //Barra lateral
  .header-open-landscape{
    @include deg(map-get($colores-deg-sitio, deg-sitio));
    @include deg-fondo(map-get($colores-deg-sitio, deg-sitio));
    background-color:white !important;
  }
}